@import "variables";
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower



.top-bar {
  background-color:#999999;
  font-family: $font-family-sans-serif;
  padding-top:15px;
  
    a{
      color: #ffffff;
    }
}

.navbar {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  margin-top:20px;
}

.navbar-nav { 
  border-style:none none solid none;
  border-width: 1px;
  width:100%;
  margin: 0px 0px 15px 0%;
}

.nav-subscribe {
    text-transform: none;
    font-family: $font-family-sans-serif;
}

.footer {
  font-family: $font-family-sans-serif;
  background-color: #666666;
  padding: 30px 0px 10px 0px;
  color: #FFF;
  margin-top: 25px;
}

.footer-base {
  padding-top:20px;

    a {
      padding-left:40px;
      color: #ffffff;
    }
}

.share {
  text-transform: uppercase;
  text-align: center;
}

.lead {
  font-family: $font-family-sans-serif;
  font-style: oblique;
  text-align: center;
    }

.lead2 {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  padding-top:10px;
  text-align: center;

    a {
       padding-right: 10px;
    }
}

.icons {
  font-size: .8em;
  text-align: center;
}

.icons .twitter  {
  background-color: #4099FF;
  padding: 0.25em 0.3em;
  color: #fff;
}

.icons .linkedin {
  background-color:#007bb6;
  padding: 0.25em 0.35em;
  color: #fff;
}

.icons .envelope {
  background: #666;
  color: #FFFFFF;
  padding: 0.25em 0.25em;
  }

.icons .facebook {
  background: #3B5998;
  color: #FFFFFF;
  padding: 0.25em 0.48em;
  }

.circle-icons {
  border-radius: 50%;
  margin: 0.15em;
  font-size: 3em;
  }

.caption {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  padding-top:20px;
  padding-right:40px;
  padding-bottom:20px;
}

.circle-caption {
  border-radius:100px;
  width: 30px;
}

.written-by {
  padding: 0px 0px 0px 155px;
}

.tags a {
  background-color: #eee;
  text-transform: capitalize;
}

.author-box {
  background-color: #eee;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 28px;

  h4 {
      padding: 0px 0px 0px 155px;
  }
}

.author-bio {
  font-family: $font-family-sans-serif;
  padding: 0px 0px 0px 155px;
}

.circle-author {
  border-radius:100px;
  width: 125px;
  float: left;
}

.form-group {
  font-family: $font-family-sans-serif;
}

.form-control {
  background-color: #eee;
}

.thumb-img {
  float: left;
  padding-right:10px;
 } GO

.box-reply-new {
  font-family: $font-family-sans-serif;   
  padding-top: 10px;
}

.box-reply-additional {
  font-family: $font-family-sans-serif;
  padding-top: 10px;
  padding-left: 45px;
  padding-bottom:30px;
}

.commenter-reply {
  padding: 0px 0px 0px 46px;
}

.ul-unlisted {
  padding-left:0;

    li {
      list-style-type: none;
    }
}

.wide-img-home {
  background-image: url("/images/image1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 315px;
  margin-bottom:3em;
}

.regular-img-home {
  background-image: url("/images/image2.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 300px;
  margin-bottom:3em;
}

.main-img-topic-page-archive {
  background-image: url("/images/topic-page-archive.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 300px;
  margin-bottom:5em;

}

.bottom-border {
  border-style:none none solid none;
  border-width: 1px;
  width:100%;
  margin: 0px 0px 30px 0px;
  padding-bottom: 25px;
}

.single-post-blockquote { 
  border:0px;
  text-align: center;
  font-style: oblique;
  font-weight: 800;
}

.single-post-heading {
  font-size: 35px;
  font-family: $font-family-sans-serif;
  margin-top: 50px;
  color: #536697;
}

.single-post-subtitle {
  font-size: 18px;
  font-family: $font-family-sans-serif;
  color: #536697;
}

.single-topic-header {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  font-weight:normal;
  padding-bottom: 20px;
}

.info-image {
  float: left;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 30px;
}

.info-post {
  padding-bottom: 35px;
      h4 {
      font-weight: normal;
    }
}

.info-content {
  padding-bottom:20px;
}

.article-head {
  background-color:transparent;
  padding-bottom: 0px;

    h1 {
        font-size: 40px;
        text-align: center;
        margin-top:-50px;
    }
    
    h6 {
      line-height: 4px;
    }
}

.article-content {
  color: #666;
  font-size: 13x;
  font-family: $font-family-sans-serif;
}

.archive-content {
    h1 {
        font-size: 40px;
        text-align: center;
        margin-top:-50px;
    }

    h6 {
      line-height: 4px;
    }
}

.archive-post {
  padding-bottom: 20px;
      h4 {
      font-weight: normal;
    }
}

.archive-post-image {
  float: left;
  padding-right: 15px;
  padding-top: 5px;
}

.archive-post-text {
  padding-left: 119px;
  line-height: 22px;
  font-family: $font-family-sans-serif;
}

.infographic-img {
  padding-bottom: 40px;
  padding-top: 40px;
}

.left-arrow{
  position: absolute;
}  

.left img:last-child{display:none}
.left:hover img:first-child{display:none}
.left:hover img:last-child{display:inline-block}

.right-arrow {
  float: right;
}

.right img:last-child{display:none}
.right:hover img:first-child{display:none}
.right:hover img:last-child{display:inline-block}

.video-img {
  padding-bottom: 40px;
  padding-top: 20px;
}


